{% extends "layout.html" %}
{% block content %}
    <h2>funnel cake</h2>
    <p>This program is aimed to help combine multiple Spotify Playlists into a larger one.</p>
    <p>Funnel Cake needs access to the following to work correctly:</p>
    <ol>
    	<li>playlist-modify-public</li>
	<li>user-library-read</li>
	<li>user-library-modify</li>
	<li>user-read-email</li>
	<li>user-read-private</li>
    </ol>
   <p>Reasons why these permissions are needed, please read the documentation <a href="https://github.com/JaredDyreson/Spoterm/blob/master/flask_stuff/DOCUMENTATION.md">here</a> for full transparency</p>
    <h2>usage</h2>
    <ol>
    	<li>Click authenticate in the top left hand corner</li>
	<li>Give funnel cake the proper permissions</li>
	<li>Plug in two playlist urls you wish to merge</li>
	<li>Give the merged playlist a name and click the button labeled "Merge"</li>
	<li>Profit</li>
    </ol>
    <h2>troubleshooting</h2>
    <p>If you're experiencing issues with crendtial validating, please try to clear your cookies for this site. You can go <a href="https://www.beacontechnologies.com/blog/2012/10/clearing-cookies-from-just-one-site/">here</a>. Type the url of this site to clear it's cookies and should fix any issues.</p>
    <h2>credit</h2>
    <p>This project would not have gotten off the ground if it we're for <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">this</a> YouTube playlist. It outlined the basic structure of a Flask application along with proper jinja2 syntax for dynamic HTML pages.</p>
    <p>Another big thanks to <a href="https://stackoverflow.com/questions/26726165/python-spotify-oauth-flow">this</a> Flask application to authenticate Spotify users. I would not have been able to continue this project without it and has served to be very reliable</p>
    <h2>source code</h2>
    <p>funnel cake has and will <b>always will be</b> open source. Feel free to read the source code <a href="https://github.com/JaredDyreson/Spoterm/tree/master/flask_stuff">here</a>.</p>
{% endblock content %}
